html {
    scroll-behavior: smooth;
  }

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}
  
body {
    font-family: 'Courier New', Courier, monospace;
  }

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/StylishImage.jpg');
    background-size:cover;
    position:relative;
}


/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 90%;
    margin: auto;
}

/* Skill section  */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 10rem;
  height: 10rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px;
  padding: 20px;
  margin: 10px;
}
/* Project Section */
.projects {
  background-color: white;
  padding: 32px 0;
  margin-top: 2rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}


.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: auto;
}

.project-details {
  margin-bottom: auto; 
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px; 
  padding: 20px;
  margin: 10px;
}

.project-link {
  text-decoration: none;
  color: blue
}

.project-link:hover {
  text-decoration: underline;
  color: red;
}

/* Contact Section  */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: 2%;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: bold;
  color: rgb(82, 138, 243);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset;
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: rgb(82, 138, 243);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid rgb(82, 138, 243);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold; 
  transition: all;
  
}

.submit-btn:hover {
   background-color: rgb(82, 138, 243);
  border: 2px solid rgb(82, 138, 243);
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}

.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

footer {
  background-color: rgb(114, 168, 248);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

/* spacing on all sections */
#about, #skills, #projects, #contact {
  margin-top: 4rem;
  padding-top: 2rem;
}
#contact {
  padding-bottom: 4rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  /*changes reflects on screen with a width of 720px and below*/
  .bio {
    margin-top: 7rem;
    width: 20.5rem;
  }

  nav {
    padding: 1.5rem 1rem;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
} 
